PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net
ACCESS_TOKEN_SECRET=replace-me
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=replace-me
REFRESH_TOKEN_EXPIRY=7d
CORS_ORIGIN=http://localhost:5173,https://chatify-abhideep.vercel.app
CLOUDINARY_CLOUD_NAME=replace-me
CLOUDINARY_API_KEY=replace-me
CLOUDINARY_API_SECRET=replace-me
CLOUDINARY_FOLDER=chatify/messages
